.markdown-preview-view {
  table.dataview.table-view-table {
    tbody {
      tr {
        border-bottom: 1px solid LightGray;

        &:nth-child(2n) {
          background-color: WhiteSmoke;
        }

        &:last-child {
          border-bottom: 3px solid Black;
        }

        &:hover {
          background-color: Azure;
        }

        td {
          white-space: nowrap;
        }
      }
    }
  }
}
